name: Build and test

on:
  push:
    branches:
      - "**"
    tags-ignore:
      - "**"

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: gradle/wrapper-validation-action@v2
      - uses: DeLaGuardo/setup-graalvm@5.0
        with:
          graalvm: "22.2.0"
          java: "java17"
      - uses: actions/setup-node@v4
        with:
          node-version: 16
      - name: Check
        run: ./gradlew check --console=plain
      - name: Upload test reports
        uses: actions/upload-artifact@v4
        if: ${{ failure() }}
        with:
          name: test-reports
          path: build/reports/tests
